<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.31.0" newVersion="8.0.31.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PCHeartBeat" value="D7000" />
    <add key="PLCHeartBeat" value="D7001" />
    <add key="PLCStart" value="D7002" />
    <add key="PCResult" value="D7003" />
    <add key="PCReady" value="D7004" />
    <add key="PCResultAvg" value="D7005" />
	<add key="PLCCancel" value="D7007" />
    <add key="MaterialID" value="7010" />
	<add key="BatchID" value="7060" />
    <add key="Thickness" value="D7021" />
    <add key="MESStatus" value="D7030" />
    <add key="SetMax" value="D7023" />
    <add key="SetMin" value="D7025" />
    <add key="SetMax_Min" value="D7027" />
	  <add key="r1" value="D7040" />
	  <add key="r2" value="D7041" />
	  <add key="r3" value="D7042" />
	  <add key="r4" value="D7043" />
	  <add key="r5" value="D7044" />
	  <add key="r6" value="D7045" />
	  <add key="r7" value="D7046" />
	  <add key="r8" value="D7047" />
	  <add key="r9" value="D7048" />
	  <add key="r10" value="D7049" />
	  <add key="r11" value="D7050" />
	  <add key="r12" value="D7051" />
	
	  
    <add key="RemoveHead" value="0" />
    <add key="RemoveTail" value="0" />
    <add key="Level" value="0" />
    <add key="StopMode" value="PLC" />
    <add key="Delay" value="iprecision" />
    <add key="Password" value="" />
    <add key="Offset_1" value="0.000" />
    <add key="Offset_2" value="0.000" />
    <add key="Offset_3" value="0.000" />
	

	<add key="HPS" value="CF4000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>